# Node stuff
.npmrc
node_modules/
lerna-debug.log
npm-debug.log
yarn-error.log
package-lock.json
.idea

# tsc and build output
packages/**/lib
tsconfig.tsbuildinfo

# These are the local provisioners cache
.provisioners/

# These are generated json schema files
*.gen.json

# kubeconfig files from DigitalOcean
*-kubeconfig.yaml

# parcel cache files
.cache

# Gets created when servers are run in production and PORT environment is not set
PORT

# git secrets
.gitsecret/keys/random_seed

# Secrets should not be checked in
**/*.secret.*
!**.secret

# testing stuff.
coverage
depends.svg
html-report
lib

# Universal stuff (mac, webstorm, coverage
*~
.DS_Store

/*.tgz
/package/
/c6o/drone.app.txt
